# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Lambda packages
**/deployment.zip
**/layer.zip
**/package/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Node
node_modules/
build/
dist/
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
